<div id="<%= dom_id(comment) %>" style="<%= style if defined?(style) %>">
  By: <%= comment.user.full_name.titleize %>
  <br>
  <%= comment.body %>
  <br>
  <% if can? :edit, comment %>
    <%= link_to "Edit", edit_post_comment_path(@post, comment),
                      remote: true,
                      data: {toggle: "modal", target: "#edit-comment"},
                      class: "btn btn-default btn-xs"
                      %>
  <% end %>
  <% if can? :destroy, comment %>
    <%= link_to "Delete", post_comment_path(@post, comment),
                          method: :delete,
                          remote: true,
                          data: {confirm: "Are you sure?"},
                          class: "btn btn-danger btn-xs" %>
  <% end %>
  <br>
  <br>
</div>
