<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category %>
    <br>
    <%= f.collection_select :category_id, Category.order(:title), :id, :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tag_ids, "Tags" %>
    <%= f.select :tag_ids, Tag.order(:name).map { |t| [t.name, t.id] },
                           { include_blank: true },
                           class: "chosen-select form-control", multiple: true %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.submit %>
<% end %>
