<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category %>
    <br>
    <%= f.collection_select :category_id, Category.order(:title), :id, :title, {include_blank: true}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tag_ids, "Tags" %>
    <%= f.select :tag_ids, Tag.order(:name).map { |t| [t.name, t.id] },
                           { include_blank: true },
                           class: "chosen-select form-control", multiple: true %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control post-body" %>
  </div>

  <div class="new-section form-group">
    <%= f.fields_for :sections do |s| %>
      <%= render "section_fields", f: s %>
    <% end %>
    <div class="add-section">
      <%= link_to_add_association 'add pictures and description', f, :sections, class: "btn btn-success btn-sm" %>
    </div>
  </div>
  <%= f.submit nil, class: "btn btn-primary btn-sm post-submit-btn" %>
<% end %>
