<h1 class="post-show-title"><strong><%= @post.title %></strong></h1>
<h4 class="post-show-category"><strong>Category:</strong> <%= @post.category.title %></h4>
<p class="post-show-tags"><strong>Tags:</strong> <%= @post.tags.map{|t| t.name }.join(", ") %></p>
<% if @post.image.present? %>
  <div>
    <%= image_tag @post.image.url(:large), class: "post-show-image" %>
  </div>
<% end %>
<p class="post-show-body"><%= @post.body %></p>

<% @post.sections.each do |sect| %>
  <div class="show-section">
    <div>
      <%= image_tag sect.image.url(:large), class: "post-show-section-image" %>
    </div>
    <p class="post-show-body"><%= sect.description %></p>
  </div>
<% end  %>


<% if can? :update, @post %>
  <%= link_to "Edit Blog Post", edit_post_path(@post), class: "btn btn-default btn-sm" %>
<% end %>
<% if can? :destroy, @post %>
  <%= link_to "Delete Blog Post", post_path(@post),
                        method: :delete,
                        data: {confirm: "Are you sure you want to delete this post?"},
                        class: "btn btn-danger btn-sm" %>
<% end %>

<div id="post-favorite">
  <%= render "/favorites/favorite" %>
</div>

<hr>
<div id="comment-form">
  <%= render "/comments/form", comment: @comment %>
</div>

<h3>Comments:</h3>
<div id="comments">
  <% @post.comments.order(created_at: :desc ).each do |comm| %>
    <%= render "/comments/comment", comment: comm %>
  <% end %>
</div>


<!-- Modal -->
<div class="modal fade" id="edit-comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Answer</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Update Comment</button>
      </div>
    </div>
  </div>
</div>
